.button__text {
  box-sizing: border-box;
  border: 2px solid var(--app-light);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.button__text:focus {
  border: 2px solid var(--app-blue);
}
